{% extends 'base.html' %}

{% load static %}

{% block section %}
  <h2>
      {{ object.titulo }}
      {% if object.album_id %}
        ( <a href="{% url "album-detail" object.album_id %}">
            {{ object.album }}
          </a> )
      {% endif %}
  </h2>
  <a href="{% url "cancion-update" object.id %}" class="btn btn-success">edit</a>
  <a href="{% url "cancion-delete" object.id %}" class="btn btn-danger">delete</a> 
  <hr>
{% endblock section %}

{% block maincontent %}
<div>
<div>
    <img src="{% static object.photo.url %}" style="width:250px;height:330px" />
</div>
</div>
{% endblock maincontent %}